{% extends 'layout.html' %}

{% block content %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.9/c3.min.css">
  <div class="col-md-4 col-md-offset-4">
    <br><br>
    <div class="row" style="text-align: center">
      <h3>Downloads</h3>
    </div>
    <br><br>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div id="graph" style="text-align: center">
        <br><br>
        <p>Getting data..</p>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.9/c3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.4.0/lodash.min.js"></script>
  <script src="/js/chart.js"></script>
{% endblock %}
